@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        color: #fff;
        background-color: #000;
    }

    html {
      scroll-behavior: smooth;
    }
}

@layer components {
    .tags{
      background-color: rgba(0, 221, 221, 0.452);
      margin-right: 0.5rem;
      margin-top: 0.7rem;
      padding: 3px 10px;
      display: inline-block;
      color: #fff;
      font-size: 12px;
      border-radius: 0.5rem;
      color: #000;
      font-weight: bold;
    }

    .tags:last-child {
      margin-right: 0;
    }

    .tags:nth-child(2){
      background-color: rgba(8, 255, 8, 0.92);
      border-radius: 0.5rem;
      color: #000;
      font-weight: bold;
    }
    .tags:nth-child(3){
      background-color: white;
      border-radius: 0.5rem;
      color: #000;
      font-weight: bold;
    }
    .tags:nth-child(4){
      background-color: gray;
      border-radius: 0.5rem;
      color: #000;
      font-weight: bold;
    }
  }